In [37]:
import numpy as np

In [1]:
def display():
    print('Welcome to Python')

In [2]:
display()

Welcome to Python

In [3]:
# Message Print Function

def print_msg():
    a = input("Enter Your Name: ")
    print('Dear',a,', Welcome to Python')

In [4]:
print_msg()

Enter Your Name: Uttam
Dear Uttam , Welcome to Python

In [5]:
s = 0
for i in range(1,26):
    s = s+i
print('Sum of 1 to 25 is',s)

u = 0 
for i in range(26,71):
    u = u+i
print('Sum of 26 to 70 is', u)

m = 0
for i in range(71, 101):
    m = m+ i
print('Sum of 71 to 100 is',m)

Sum of 1 to 25 is 325
Sum of 26 to 70 is 2160
Sum of 71 to 100 is 2565

In [6]:
# Sum Function

def sum(x,y):
    s = 0
    for i in range(x, y+1):
        s = s+i
    print('Sum of',x,'&',y,'is',s)

In [7]:
sum(1,25)
sum(26,70)
sum(71,100)

Sum of 1 & 25 is 325
Sum of 26 & 70 is 2160
Sum of 71 & 100 is 2565

In [8]:
# Which one is greater function

def greater(a,b,c):
    print('First Number:',a)
    print('Second Number:',b)
    print('Third Number:',c)
    if a >= b and a>=c:
        print('a is greater')
    elif b >= a and b >= c:
        print('b is greater')
    else:
        print('c is greater')

In [9]:
greater(7,12,7)

First Number: 7
Second Number: 12
Third Number: 7
b is greater

In [10]:
# Factorial Function

def factorial(a):
    fac = 1
    for i in range(1, a+1):
        fac = fac*i
        i = i+1
    print('Factorial of number',a,'is',fac)

In [15]:
factorial(8)

Factorial of number 8 is 40320

In [25]:
# Displaying Name and Age Function

def Display(Name, Age):
    print('Name:',Name,'Age:',Age)

In [26]:
Display(Name='John', Age=25)

Name: John Age: 25

In [44]:
# Area of Circle Function

def area_circle(radius):
    if radius >0:
        pi =3.14
        area = pi*radius*radius
        print('Area of Circle with radius',radius,'is',area)
    else:
        print('Error!! Enter a positive number')

In [46]:
area_circle(radius = 8)

Area of Circle with radius 8 is 200.96

In [47]:
# Distance between the co-ordinates function

def cal_distance(x1, y1, x2, y2):
    print('The first coordinate (x1, y1) is',(x1,y1))
    print('The second coordinate (x2, y2) is',(x2,y2))
    dis = np.sqrt((x1 - x2)**2 + (y1 - y2)**2)
    print('The distance between',(x1,y1),'and',(x2,y2),'is',dis)

In [48]:
cal_distance(x1=2, y1=3, x2=5, y2=7)

The first coordinate (x1, y1) is (2, 3)
The second coordinate (x2, y2) is (5, 7)
The distance between (2, 3) and (5, 7) is 5.0

In [51]:
def a(c,d):
    return c+d, c-d

In [52]:
a(2,3)

(5, -1)

In [53]:
factorial(0)

Factorial of number 0 is 1

In [81]:
# Fibonacci Function

def fib(n):
    if n==0:
        return 1
    if n==1:
        return 1
    return fib(n-1) + fib(n-2)

In [82]:
fib(8)

34

In [5]:
# Find the Fibonnaci number
def fib(f):
    a = 0
    b = 1
    print('Fibonacci Position Entered:',f)
    for i in range(1, f-1):
        sum = a+b 
        a = b
        b = sum
    print('The Fibonacci Number is',sum)

In [6]:
fib(f = 10)

Fibonacci Position Entered: 10
The Fibonacci Number is 34

In [7]:
# Filter Function

mylist = [2,4,3,6,7,5]
new_list = list(filter(lambda x: x>3, mylist))
new_list

[4, 6, 7, 5]

In [14]:
# Mapping out function

mylist = [2,4,3,6,7,5]
new_list = list(map(lambda x: x*2, mylist))
new_list

[4, 8, 6, 12, 14, 10]

In [13]:
# Compound Interest Calculator

def comp_int_cal(p,n,r):
    print('Starting Balance','\tInterest\t','\tEnding Balance\t')
    total = 0
    tot = 0
    x = r/100
    for i in range(1, n+1):
        z_new = p*(1+x)**i - p
        z_old = p*(1+x)**(i-1) - p
        tot = tot + (z_new - z_old)
        if(i ==1):
            print('{0:.2f}\t'.format(p),end=' ')
            print('\t{0:.2f}\t'.format(z_new-z_old),end=' ')
            print('\t\t{0:.2f}\t'.format(z_new +p))
        else:
            print('{0:.2f}\t'.format(p+z_old),end=' ')
            print('\t{0:.2f}\t'.format(z_new-z_old),end=' ')
            print('\t\t{0:.2f}\t'.format(z_new +p))
    print('Total Interest Deposited: Rs {0:.2f}'.format(tot))
        
p = int(input('Enter the principal amount: Rs '))
n = int(input('Enter the number of years: '))
r = int(input('Enter the rate(%): '))
comp_int_cal(p,n,r)

Enter the principal amount: Rs 10000
Enter the number of years: 7
Enter the rate(%): 5
Starting Balance 	Interest	 	Ending Balance
10000.00	 	500.00	 		10500.00
10500.00	 	525.00	 		11025.00
11025.00	 	551.25	 		11576.25
11576.25	 	578.81	 		12155.06
12155.06	 	607.75	 		12762.82
12762.82	 	638.14	 		13400.96
13400.96	 	670.05	 		14071.00
Total Interest Deposited: Rs 4071.00