# String
#Immutable data type

In [2]:
x='PYTHON'

In [3]:
x

'PYTHON'

In [12]:
# Assessing and extracting elements from collection

# Indexing--> If you want you access any particular or individual element

# SLICING--> It helps in the access of sequence of elements

# P  Y  T  H  O  N
# 0  1  2  3  4  5 --> indexes
#-6 -5 -4 -3 -2 -1  --> Reverse index

In [9]:
# Indexing

x[3]

'H'

In [10]:
x[-1]

'N'

In [7]:
# Slicing

# Syntax: variable_name[Start index: End Index + 1]

x [2:6]

'THON'

In [11]:
x[-3:-1]

'HO'

In [13]:
x[0:3]

'PYT'

In [39]:
# String is immutable as it does not allow to chnage the element of its variable

#x[2] = 'c'

#TypeError                                 Traceback (most recent call last)
#<ipython-input-14-de5fd2224bb7> in <module>
      # String is immutable as it does not allow to chnage the element of its variable
       
#----> 3 x[2] = 'c'

#TypeError: 'str' object does not support item assignment

# Tuples

In [17]:
# Tuples--> Set of heterogenous elements (different types of data formats)

#syntax: variable-name = (a1, a2, a3)

In [18]:
tup = (1,2,3,'rose', 5.5,6.6)

In [19]:
type(tup)

tuple

In [21]:
tup[2]

3

In [40]:
#tup[2]= 6 (immutable)

#TypeError                                 Traceback (most recent call last)
#<ipython-input-22-a6d2fa852162> in <module>
#----> 1 tup[2]= 6

#TypeError: 'tuple' object does not support item assignment

# List

In [27]:
# Mutable Datatype

# List--> Set of heterogenous elements (different types of data formats)
# The definition between list and tuple is same, however the difference is
# the brackets we use. In tuple, we use round bracket, but in list we use square bracket.

In [29]:
# Syntax --> variable_name[a1, a2, a3,...]

In [30]:
my_list = [1, 4, 7, 'rose', 5.5, 8.2]

In [31]:
type(my_list)

list

In [37]:
my_list[2] = 8 #list is mutable, it easily changes the element from the list

In [38]:
my_list

[1, 4, 8, 'rose', 5.5, 8.2]

# Dictionary

In [41]:
#Dictionary --> heps to store information key va;ue pirs
#user defined keys--> Indexes
#syntax: variable-name= {key vale1: a1, a2, a3....., key value n: n1, n2, n3}

In [42]:
age= {'John': 23, 'Karan': 27, 'Sumit': 37}

In [47]:
age

{'John': 23, 'Karan': 27, 'Sumit': 37}

In [48]:
type(age)

dict

In [46]:
age['John']

23

In [51]:
age['John']= 37 #mutable, the values can easily be changed

In [52]:
age

{'John': 37, 'Karan': 27, 'Sumit': 37}

In [55]:
age_2= {25:'John', 37:'Sumit', 32:'Karan'}

In [56]:
age_2[25]

'John'

In [57]:
#set --> unordered, unindexed list of element, it can have only unique values

#syntax: variable = {a1, a2, a3,...}

In [58]:
set_1 = {1,2,4,6,9,76,45,82,'rose', 2,4,2,5,2,4,7}

In [60]:
set_1 #just shows unique values

{1, 2, 4, 45, 5, 6, 7, 76, 82, 9, 'rose'}

In [70]:
# problem statment --> Remove all duplicate elements from list
lis= [1,2,2,2,2,5,5,6,7,6,7,8,9,9,8]

In [71]:
type(lis)

list

In [73]:
set(lis) #converting list into set temporarily just to remove values

{1, 2, 5, 6, 7, 8, 9}

In [74]:
type(lis)

list

In [67]:
lis = set(lis) #converting list into set permanenetly

In [94]:
type(lis)

list

# Conditional Statement

In [76]:
#Conditional Statement--> helps to control flow ecexution  based upon certain condition

# Two structrures of CS
# -->IF ELSE STRUCTURE
#--> IF ELIF ELSE STRUCTURE

In [80]:
# 1

#if condition:
    #task 1
#else:
    #task 2

#condition-=-> true-->task 1--> get out block
#condition--> fasle --> task 2--> get out block

In [97]:
# First Structure--> if else

x = 30
if x> 20:
    print ("x is larger")
else:
    print ("x is smaller")

x is larger

In [99]:
# 2

#if condition 1:
    #task 1
#elif condition 2:
    #task 2
#else:
    #task 3

    
#condition1 --> true-->task 1--> get out block
#condition 1--> fasle --> condition 2-->true--> task 2--> get out block
#condition 1--> fasle --> condition 2-->false--> else--> true--> task 3--> get out block

In [96]:
# Second Strucure--> if elif else

a=30
b=20
if a>b:
    print("a is greater than b")
elif a==b:
    print("a is equal to b")
else:
    print("a is smaller than b")

a is greater than b

# Looping Statement

In [ ]:
# Two types of Loop:
# For loop
# While Loop

In [103]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [110]:
tuple(range(0,10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [111]:
# For Loop

In [107]:
#probelm statemnet to print python ten times

for x in range(10):
    print('PYTHON',x)

PYTHON 0
PYTHON 1
PYTHON 2
PYTHON 3
PYTHON 4
PYTHON 5
PYTHON 6
PYTHON 7
PYTHON 8
PYTHON 9

In [108]:
my_list = ['John', 22, 34.5, 23]

In [109]:
for x in my_list:
    print(x)

John
22
34.5
23

In [1]:
# while loop

In [2]:
i =0
while i<10:
    print('PYTHON',i)
    i=i+1

PYTHON 0
PYTHON 1
PYTHON 2
PYTHON 3
PYTHON 4
PYTHON 5
PYTHON 6
PYTHON 7
PYTHON 8
PYTHON 9

In [3]:
# functions --> reusablility
# user defined

#inbuilt

#lambda

In [4]:
def adder (a,b): 
    c=a+b
    return c

In [5]:
a=10
b=20
adder(10, 47)

57

In [6]:
adder(578587687,876587687)

1455175374

In [7]:
#append--> add elemnets to list

In [8]:
my_list= ["john", 2,3]

In [9]:
my_list.append(852)

In [10]:
#pop--> removes the element

In [11]:
my_list.pop(2) #works on index

3

In [12]:
#lambda function--> one line function --> fast executive and less memory
m =lambda a,b: a*b

In [13]:
m(2,5)

10