In [1]:
a = 'IITMADRAS'

## Indexing

In [17]:
# Indexing of a position
a[2]

'T'

In [18]:
# : means from all values from one position to the next position
a[0:3]

'IIT'

In [19]:
# Reading numbers with incrementation ::x : increments by x
a[0:8:2]

'ITAR'

In [2]:
# Reading string from beginning with the increment of 2
a[0::2]

'ITARS'

In [27]:
# Indexing left to right with negavtive position; however it would never print the last character using this method
a[-3:-1]

'RA'

In [32]:
# Indexing and printing in reverse order
a[-1::-1]

'SARDAMTII'

In [34]:
a[-1::-2]

'SRATI'

In [6]:
a[::-1]

'SARDAMTII'

In [5]:
a[-1:]

'S'

In [33]:
a[-1::]

'S'

In [7]:
a[-1::]

'S'

In [8]:
a[:-2]

'IITMADR'

In [9]:
a[-1]

'S'

In [10]:
'{} plus {} equals {}'.format(4,9,13)

'4 plus 9 equals 13'

In [11]:
s1 = 'He is a good guy'

In [12]:
s1.split()

['He', 'is', 'a', 'good', 'guy']

In [13]:
s ='Pythom'
s.isalnum()

True

In [14]:
s ='Pythom Programming'
s.isalnum()

False

In [15]:
s ='uttam'
s.isalnum()

True

# Class

In [41]:
# Iterating a string

w = "My name is Karn"
t = len(w)
t

15

In [42]:
for i in range(t):
    print(w[i], end = '')

My name is Karn

In [44]:
for i in w:
    print(i, end='')

My name is Karn

In [45]:
# Reverse printing a string

for i in range(t-1, -1, -1):
    print(w[i], end ='')

nraK si eman yM

In [47]:
w = "My name is Karn"
x = w[-1::-1]
x

'nraK si eman yM'

In [49]:
for i in x:
    print(i, end ='')

nraK si eman yM

# Basic String Functions
### * Upper
### * Lower
### * Title
### * Capitalize

In [66]:
w = 'My name is Karn. I like coding.'

In [67]:
# Converts every character to lowercase

w.lower()

'my name is karn. i like coding.'

In [68]:
# Converts every character to uppercase

w.upper()

'MY NAME IS KARN. I LIKE CODING.'

In [69]:
# First letter of every word is converted into capital form

w.title()

'My Name Is Karn. I Like Coding.'

In [71]:
# Only first letter of first word is converted into uppercase while the rest remains lowercase

w.capitalize()

'My name is karn. i like coding.'

# Important String Functions

### * Find
### * Index
### * isalpha
### * isdigit
### * isalnum

In [77]:
# Finding the position of a sub-string. It returns -1 if it could not find the sub-string ('substring', starting, ending)

w.find('a', 5, 14)

12

In [78]:
# Finding the index of a sub-string. It returns eroor if it could not find the sub-string ('substring', starting, ending)

w.index('a', 5, 14)

12

##### 'is...' func helps in identification of certain and only answers in True or False

In [100]:
# isalpha checks only the alphabet elements. Any other element would throw a false.

b = 'welcome'
b.isalpha()

True

In [101]:
c = 'welcome123'
c.isalpha()

False

In [102]:
# isdigit checks only the digit or numerical elements. Any other element would throw a false.

d = '123'
d.isdigit()

True

In [103]:
e = 'Welcome123'
e.isdigit()

False

In [104]:
# isalnum check both alphabet as well as numbers. However any other element would throw a false, even a space.

f = 'Welcome123'
f.isalnum()

True

In [105]:
g = 'Welcome@123'
g.isalnum()

False

# Formatting

### * Escape Characters
### * Raw Strings
### * Startswith and Endswith
### * Split 
### * Join
### * Strip

In [106]:
# Escape Characters

s = 'This is a \n pen'

In [107]:
print(s)

This is a
 pen

In [108]:
# Raw Strings

s = r'This is a \n pen'

In [109]:
print(s)

This is a \n pen

In [110]:
'pen' in s

True

In [111]:
'a pen' in s

False

In [112]:
# Startswith and Endswith helps in understanding whether the substring is in first or last position. It is also case sensitive.

s.startswith('this')

False

In [113]:
s.startswith('This')

True

In [114]:
s.endswith('this')

False

In [115]:
s.endswith('pen')

True

In [133]:
# Split functions splits the string into different sub-string and presents it in a form of a list.

v = s.split()
v

['This', 'is', 'a', '\\n', 'pen']

In [140]:
# Joins the sub-string into single string

' '.join(v)

'This is a \\n pen'

In [143]:
# Strip function allows you remove extra space in string. You can directly strip or can also use left strip or right strip.

a = '      this is a pen     '
a.strip()

'this is a pen'

In [146]:
a = '    this is a pen    '
a.lstrip()

'this is a pen    '

In [147]:
a = '    this is a pen    '
a.rstrip()

'    this is a pen'

# String Formatting

In [1]:
person = {'name': 'Jenn', 'age': 23}

In [3]:
sentence = 'My name is {}. My age is {}'.format(person['name'], person['age'])
sentence

'My name is Jenn. My age is 23'

In [4]:
'My name is {0}. My age is {1}'.format(person['name'], person['age'])

'My name is Jenn. My age is 23'

In [12]:
'My name is {0[name]}. My age is {1[age]}.'.format(person, person)

'My name is Jenn. My age is 23.'

In [13]:
'My name is {0[name]}. My age is {0[age]}.'.format(person)

'My name is Jenn. My age is 23.'

In [14]:
tag = 'h1'
text = 'This is heading'

In [15]:
'<{0}><{1}></{0}>'.format(tag, text)

'<h1><This is heading></h1>'

In [16]:
class Person():
    def __init__(self, name, age):
        self.name = name
        self.age = age
p1 = Person('Jenn', 23)

In [17]:
'My name is {0.name}. My age is {0.age}.'.format(p1)

'My name is Jenn. My age is 23.'

In [18]:
'My name is {name}. My age is {age}.'.format(name = 'Jenn', age = 23)

'My name is Jenn. My age is 23.'

In [21]:
for i in range(1,11):
    sentence = 'The value is {}.'.format(i)
    print(sentence)

The value is 1.
The value is 2.
The value is 3.
The value is 4.
The value is 5.
The value is 6.
The value is 7.
The value is 8.
The value is 9.
The value is 10.

In [25]:
# Formating for zero before a number

for i in range(1,11):
    sentence = 'The value is {:02}.'.format(i)
    print(sentence)

The value is 01.
The value is 02.
The value is 03.
The value is 04.
The value is 05.
The value is 06.
The value is 07.
The value is 08.
The value is 09.
The value is 10.

In [26]:
for i in range(1,11):
    sentence = 'The value is {:03}.'.format(i)
    print(sentence)

The value is 001.
The value is 002.
The value is 003.
The value is 004.
The value is 005.
The value is 006.
The value is 007.
The value is 008.
The value is 009.
The value is 010.

In [27]:
# Formating for decimals after point (:.xf)

pi = 3.14159265
'Pi is equal to {:.2f}'.format(pi)

'Pi is equal to 3.14'

In [28]:
pi = 3.14159265
'Pi is equal to {:.3f}'.format(pi)

'Pi is equal to 3.142'

In [29]:
'1 mb is equal to {} bytes'.format(1000**2)

'1 mb is equal to 1000000 bytes'

In [39]:
'1 mb is equal to {:,} bytes'.format(1000**2)

'1 mb is equal to 1,000,000 bytes'

In [31]:
'1 mb is equal to {:,.2f} bytes'.format(1000**2)

'1 mb is equal to 1,000,000.00 bytes'

In [40]:
# Datetime Formatting

import datetime
my_date = datetime.datetime(2022, 1, 6, 20, 56, 34)
print(my_date)

2022-01-06 20:56:34

In [41]:
# Today is January 06, 2022 falls on a Thursday which is 006 day of the year. 

'Today is {0:%B %d, %Y} falls on a {0:%A} which is {0:%j} day of the year.'.format(my_date)

'Today is January 06, 2022 falls on a Thursday which is 006 day of the year.'

## F-string

In [42]:
first_name = 'Karn'
last_name = 'Srivastava'

In [44]:
'My first name is {} and my last name is {}.'.format(first_name, last_name)

'My first name is Karn and my last name is Srivastava.'

In [45]:
f'My first name is {first_name} and my last name is {last_name}.'

'My first name is Karn and my last name is Srivastava.'

In [46]:
# You can work with these as well

f'My first name is {first_name.upper()} and my last name is {last_name.upper()}.'

'My first name is KARN and my last name is SRIVASTAVA.'

In [47]:
person = {'name': 'Jenn', 'age': 23}
f'My first name is {person['name']} and my last name is {person['age']}.'

SyntaxError: invalid syntax (<ipython-input-47-2b598f3a8b00>, line 2)

#### The above shows an invalid syntax because the opening ' ' syntax (single quotes) coincides with the ' '  (single quotes) of person['name']. To tackle with that, open the string with double quotes. The problem is now fixed below.

In [48]:
f"My first name is {person['name']} and my last name is {person['age']}."

'My first name is Jenn and my last name is 23.'

In [50]:
# You can also perform calculations inside {} with f-string.

f'4 times 11 equals {4*11}'

'4 times 11 equals 44'

In [54]:
for i in range(11):
    sent = f'The value of 2 * {i} = {i*2:02}'
    print(sent)

The value of 2 * 0 = 00
The value of 2 * 1 = 02
The value of 2 * 2 = 04
The value of 2 * 3 = 06
The value of 2 * 4 = 08
The value of 2 * 5 = 10
The value of 2 * 6 = 12
The value of 2 * 7 = 14
The value of 2 * 8 = 16
The value of 2 * 9 = 18
The value of 2 * 10 = 20

In [55]:
pi = 3.14159265
f'Pi is equal to {pi:.3f}'

'Pi is equal to 3.142'

In [57]:
from datetime import datetime
birth = datetime(1999, 9, 9)
print(birth)

1999-09-09 00:00:00

In [60]:
f'Uttam was born on {birth:%d %B, %Y}'

'Uttam was born on 09 September, 1999'